/* -- FONTS -- */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

/* -- PASTEL COLOR PALETTE -- */
/* 
Purple: #CDB4DB 
Pale Pink: #FFC8DD
Pink: #FFAFCC
Light Blue: #BDE0FE
Blue: #A2D2FF
*/

/* -- MEADOW GREEN COLOR PALETTE -- */
/*
Pale Yellow Green: #D9ED92
Pale Green: #B5E48C
Green: #99D98C
Darker Green: #76C893
Next Green: #52B69A
Teal: #34A0A4
Blue: #168AAD
Darker Blue: #1A759F
Next Blue: #1E6091
Next Blue: #184E77
*/

/* -- VARIABLES -- */
:root {
	--background-primary-color: #181b24;
	--text-primary-color: #d1dddf;
	--link: #99D98C;
	--link-hover: #D9ED92;
	--button: #1A759F;
	--header-overlay: rgba(255, 255, 255, 0.15);
}

[data-theme="light"]{
	--background-primary-color: whitesmoke;
	--text-primary-color: #211E23;
	--link: #53abfd;
	--link-hover: #CDB4DB;
	--button: #BDE0FE;
	--header-overlay: rgba(255, 255, 255, 0.8);
}

/* -- BASE -- */
* {
	box-sizing: border-box;
}

body {
	background-color: var(--background-primary-color);
	color: var(--text-primary-color);
	margin: 0;
	padding: 0;
	font-family: "Montserrat", sans-serif;
}

nav {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	padding: 1em;
	background-color: var(--header-overlay);
}

.nav-links {
	display: flex;
	align-items: center;
}

.nav-links ul {
	display: flex;
	flex-direction: row;
	gap: 1.5em;
	list-style: none;
	margin-right: 1em;
}

main {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: center;
	padding: 3em 4em;
}

h1, h2 {
	text-align: center;
}

footer {
	text-align: center;
	margin-top: auto;
}

#root {
	display: flex;
	flex-direction: column;
	position: relative;
	width: 100vw;
	height: 100vh;
}

.pink-accent {
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgb(255, 143, 162);
	width: 300px;
	height: 300px;
	opacity: .4;
	filter: blur(100px);
	z-index: -1;
}

.purple-accent {
	position: absolute;
	bottom: 0;
	right: 0;
	background-color: rgb(143, 85, 219);
	width: 300px;
	height: 300px;
	opacity: .3;
	filter: blur(100px);
	z-index: -1;
}

.green-accent {
	position: absolute;
	top: 50%;
	left:30%;
	translate: -50%;
	background-color: rgb(85, 219, 125);
	width: 400px;
	height: 400px;
	opacity: .2;
	filter: blur(100px);
	z-index: -1;
}

a {
	text-decoration: none;
	font-weight: 600;
	color: var(--link);
	position: relative;
	transition: color 0.3s ease;
}

a:hover {
	color: var(--link-hover);
}

a::after {
	content: "";
	position: absolute;
	left: 50%;
	bottom: -2px;
	width: 0;
	height: 2px;
	background-color: var(--link-hover);
	transition: all 0.3s ease;
	transform: translateX(-50%);
}

a:hover::after {
	width: 100%;
}

.link-active {
	color: var(--link-hover);
}

.link-active::after {
	content: "";
	position: absolute;
	left: 50%;
	bottom: -2px;
	width: 0;
	height: 2px;
	background-color: var(--link-hover);
	transform: translateX(-50%);
	width: 100%;
}

.theme-btn {
	background-color: var(--button);
	border: none;
	width: 40px;
	height: 40px;
	border-radius: 50%;
}

.theme-btn i {
	color: var(--text-primary-color);
}

.theme-btn:hover {
	background-color: rgba(0, 255, 255, 0.562);
}

.title {
	font-family: "Shadows Into Light", cursive;
	font-size: 3rem;
	color: var(--link);
}

.purchase-links {
	display: flex;
	justify-content: space-around;
}

h3 {
	text-align: center;
}

.subtitle {
	font-weight: 500;
	font-style: italic;
}

/** UTILITIES **/

.flex-row {
	display: flex;
	flex-direction: row;
	gap: 2em;
}

.flex-grid {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
	gap: 20px;
}

.flex-grid img {
	transform: scale(0.8);
	transition: transform 0.4s ease, filter 0.3s ease;
}

.flex-grid img:hover {
	transform: scale(1.0);
	filter: brightness(1.05);
}

.img-shadow {
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.288);
}